<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"

         backupGlobals               = "false"
         backupStaticAttributes      = "false"
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         processIsolation            = "false"
         stopOnFailure               = "false"
         >

  <testsuites>
    <testsuite name="Test">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="DISCORD_WEBHOOK_URL" value="https://discord.com/api/webhooks/1162933645154209832/57uRY2nwlihHbilNHaKBR0DHIKKX3BBbsBBCviTwRJKwHnoGF0iOC3l2ae7DiQwzkKbt"/>
  </php>

</phpunit>